@model ElectDiscipline_Web.Models.VM.DisciplineNumberDeleteVM

<form asp-action="DeleteDisciplineNumber">
    <br />
    <div class="container border p-3">
        <h1 class="text-primary">Delete Discipline</h1>
        <hr />
        <input hidden asp-for="DisciplineNumber.DisciplineNo" />
        <div class="row">

            <div class="col-2">
                <label asp-for="DisciplineNumber.DisciplineNo" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="DisciplineNumber.DisciplineNo" disabled class="form-control" />
            </div>

            <div class="col-2">
                <label asp-for="DisciplineNumber.DisciplineId" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <select asp-for="DisciplineNumber.DisciplineId" disabled class="form-select" asp-items="@Model.DisciplineList">
                    <option disabled selected>--Select Discipline--</option>
                </select>
            </div>
            <div class="col-2">
                <label asp-for="DisciplineNumber.SpecialDetails" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <textarea asp-for="DisciplineNumber.SpecialDetails" readonly class="form-control" rows="5"></textarea>
            </div>

            <div class="col-5 offset-2">
                <a asp-action="IndexDisciplineNumber" asp-controller="DisciplineNumber" class="btn-primary btn form-control ">Back to List</a>
            </div>
            <div class="col-5">
                <input type="submit" value="Delete" class="btn btn-success form-control" />
            </div>
        </div>
    </div>
</form>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
